<h1 class="animated fadeIn">{{hero.nombre | titlecase }} <small>({{hero.fechaPrimeraAparicion | date:'y'}})</small></h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [srcset]="hero.img" class="img-fluid" [alt]="hero.nombre"/>
    <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">
      Back
    </a>
    <div class="mt-1">
      <img *ngIf="casa === '0'" src="assets/img/dc.png" class="img-fluid fadeIn" width="70%" alt="DC"/>
      <img *ngIf="casa === '1'" src="assets/img/marvel.png" class="img-fluid fadeIn" width="100%" alt="Marvel"/>
    </div>

  </div>

  <div class="col-md-8">
    <div class="main-container">
      <strong><span>Nombre: </span></strong>
      <span>{{hero.nombre | uppercase }}</span>
    </div>
    <div>
      <strong><span>Aliases: </span></strong>
      <ul>
        <li *ngFor="let alias of hero.aliases | slice:0:3">{{alias | capitalize: true}}</li>
        <li *ngIf="hero.aliases.length > 3">...</li>
      </ul>
    </div>
    <div>
      <strong><span>Altura: </span></strong>
      <span>{{hero.altura | number: '1.0-2'}}</span>
    </div>
    <div>
      <strong><span>Popularidad: </span></strong>
      <span>{{hero.popularidad | percent: '2.2-2'}}</span>
    </div>
    <div>
      <strong><span>Valor primer cómic / aparición: </span></strong>
      <span>{{hero.valorPrimerComic | currency: 'USD': 'symbol':'.0-0'}}</span>
    </div>
    <div>
      <strong><span>Bio: </span></strong>
      <span>{{hero.bio}}</span>
    </div>

    <div>
      <strong><span class="ml-2">{{hero.nombreReal | secret:showRealName}}</span></strong>
      <span>
        <button class="btn btn-outline-primary ml-2" (click)="toggleShowRealName()">
          Mostrar / Ocultar nombre real
        </button>
      </span>
    </div>

    <div class="mt-5">
      <iframe width="560"
              height="315"
              [src]="hero.videoUrl | secureDom"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>

      </iframe>
    </div>

    <div *ngIf="dataFetched"  class="alert alert-success" style="font-size: small">
      {{dataPromise | async}}
    </div>
    <div class="alert alert-light" style="font-size: smaller; margin-top: 1em">
      <pre>
        {{hero | json}}
      </pre>
    </div>

  </div>
</div>
