<h1 class="animated fadeIn">{{hero.nombre | titlecase }} <small>({{hero.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [srcset]="hero.img" class="img-fluid" [alt]="hero.nombre"/>
    <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">
      Back
    </a>
  </div>

  <div class="col-md-8">
    <div class="main-container">
      <strong><span>Nombre: </span></strong>
      <span>{{hero.nombre | uppercase }}</span>
    </div>
    <div>
      <strong><span>Aliases: </span></strong>
      <ul>
        <li *ngFor="let alias of hero.aliases | slice:0:3">{{alias}}</li>
        <li *ngIf="hero.aliases.length > 3">...</li>
      </ul>
    </div>
    <div>
      <strong><span>Altura: </span></strong>
      <span>{{hero.altura | number: '1.0-2'}}</span>
    </div>
    <div>
      <strong><span>Popularidad: </span></strong>
      <span>{{hero.popularidad | percent: '2.2-2'}}</span>
    </div>
    <div>
      <strong><span>Valor primer cómic / aparición: </span></strong>
      <span>{{hero.valorPrimerComic | currency: 'USD': 'symbol':'.0-0'}}</span>
    </div>
    <div>
      <strong><span>Bio: </span></strong>
      <span>{{hero.bio}}</span>
    </div>

    <div>
      <img *ngIf="casa === '0'" src="assets/img/dc.png" class="img-fluid fadeIn" width="30%" alt="DC"/>
      <img *ngIf="casa === '1'" src="assets/img/marvel.png" class="img-fluid fadeIn" width="225" alt="Marvel"/>
    </div>

    <div *ngIf="dataFetched"  class="alert alert-success" style="font-size: small">
      {{dataPromise | async}}
    </div>
    <div class="alert alert-light" style="font-size: smaller; margin-top: 1em">
      <pre>
        {{hero | json}}
      </pre>
    </div>

  </div>
</div>
