<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">Heroes App</h1>
    <p class="lead">Heroes in Comics</p>
    <div align="center">
      <iframe width="560"
              height="315"
              src="https://www.youtube.com/embed/NUOLrg--dX0"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>

      </iframe>
    </div>
  </div>
</div>
